input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
border: 2px solid #87b822;
}
input[type=submit], input[type=button] {
background: #87b822;
}
::selection {
background: #87b822;
}
::-moz-selection {
background: #87b822;
}
a {
color: #87b822; 
}
#header #nav_tabs li {
background: #87b822;
}
#header #nav_tabs li a:hover, #header #nav_tabs li.current a {
color: #87b822;
}
#header #head #logo {
background: #2A331C;
}
#home #services .col3:hover .service-icon i {
border: 3px solid #87b822;
color: #87b822;
}
#resume #skills .bar {
background: #2A331C;
}
#resume #skills .skills li span span {
background: #87b822;
}
#resume #skills .skills li span span:after {
border-right-color: #87b822;
}
#resume #employment .list-head .alt1 {
background: #87b822;
}
#resume #download #buttons .download {background: #87b822;}
#portfolio #portfolio_iso_filters li a:hover {color: #87b822;}
#portfolio #portfolio_iso_filters li a.current {
background: #87b822;
}
#portfolio #more_results {
background: #87b822;
}

#portfolio .portfolio_items article.portfolio_post a .overlay {
background: rgba(135, 184, 34, 0.65);
}
#resume #employment .list-head .alt2 {
background: #749E1D;
box-shadow: inset -3px 5px 0px -3px #6A9217;
}
#header #head .bx-controls-direction a {
background: rgba(135, 184, 34, 0.65);
}
